{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2018-05-10",
    "endpointPrefix":"awscodegurureviewerv2",
    "jsonVersion":"1.1",
    "protocol":"rest-json",
    "serviceFullName":"Amazon CodeGuru Security",
    "serviceId":"CodeGuruReviewerV2",
    "signatureVersion":"v4",
    "signingName":"codeguru-security",
    "uid":"codegurureviewerv2-2018-05-10"
  },
  "operations":{
    "BatchGetFindings":{
      "name":"BatchGetFindings",
      "http":{
        "method":"POST",
        "requestUri":"/batchGetFindings",
        "responseCode":200
      },
      "input":{"shape":"BatchGetFindingsRequest"},
      "output":{"shape":"BatchGetFindingsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "CreateScan":{
      "name":"CreateScan",
      "http":{
        "method":"POST",
        "requestUri":"/scans",
        "responseCode":200
      },
      "input":{"shape":"CreateScanRequest"},
      "output":{"shape":"CreateScanResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "CreateUploadUrl":{
      "name":"CreateUploadUrl",
      "http":{
        "method":"POST",
        "requestUri":"/uploadUrl",
        "responseCode":200
      },
      "input":{"shape":"CreateUploadUrlRequest"},
      "output":{"shape":"CreateUploadUrlResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "DeleteScansByCategory":{
      "name":"DeleteScansByCategory",
      "http":{
        "method":"POST",
        "requestUri":"/deleteScans/categories",
        "responseCode":200
      },
      "input":{"shape":"DeleteScansByCategoryRequest"},
      "output":{"shape":"DeleteScansByCategoryResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "GetAccountConfiguration":{
      "name":"GetAccountConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/accountConfiguration",
        "responseCode":200
      },
      "input":{"shape":"GetAccountConfigurationRequest"},
      "output":{"shape":"GetAccountConfigurationResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "GetFinding":{
      "name":"GetFinding",
      "http":{
        "method":"GET",
        "requestUri":"/findings/{scanName}/{findingId}",
        "responseCode":200
      },
      "input":{"shape":"GetFindingRequest"},
      "output":{"shape":"GetFindingResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "GetFindings":{
      "name":"GetFindings",
      "http":{
        "method":"GET",
        "requestUri":"/findings/{scanName}",
        "responseCode":200
      },
      "input":{"shape":"GetFindingsRequest"},
      "output":{"shape":"GetFindingsResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "GetScan":{
      "name":"GetScan",
      "http":{
        "method":"GET",
        "requestUri":"/scans/{scanName+}",
        "responseCode":200
      },
      "input":{"shape":"GetScanRequest"},
      "output":{"shape":"GetScanResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "ListFindings":{
      "name":"ListFindings",
      "http":{
        "method":"POST",
        "requestUri":"/findings",
        "responseCode":200
      },
      "input":{"shape":"ListFindingsRequest"},
      "output":{"shape":"ListFindingsResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "ListScans":{
      "name":"ListScans",
      "http":{
        "method":"GET",
        "requestUri":"/scans",
        "responseCode":200
      },
      "input":{"shape":"ListScansRequest"},
      "output":{"shape":"ListScansResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "UpdateAccountConfiguration":{
      "name":"UpdateAccountConfiguration",
      "http":{
        "method":"PUT",
        "requestUri":"/updateAccountConfiguration",
        "responseCode":200
      },
      "input":{"shape":"UpdateAccountConfigurationRequest"},
      "output":{"shape":"UpdateAccountConfigurationResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ]
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "required":[
        "errorCode",
        "message"
      ],
      "members":{
        "errorCode":{"shape":"String"},
        "message":{"shape":"String"},
        "resourceId":{"shape":"String"},
        "resourceType":{"shape":"String"}
      },
      "error":{
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true
    },
    "AnalysisType":{
      "type":"string",
      "enum":[
        "SECURITY",
        "ALL"
      ]
    },
    "BatchGetFindingsError":{
      "type":"structure",
      "required":[
        "scanName",
        "findingId",
        "errorCode",
        "message"
      ],
      "members":{
        "scanName":{"shape":"ScanName"},
        "findingId":{"shape":"String"},
        "errorCode":{"shape":"ErrorCode"},
        "message":{"shape":"String"}
      }
    },
    "BatchGetFindingsErrors":{
      "type":"list",
      "member":{"shape":"BatchGetFindingsError"}
    },
    "BatchGetFindingsRequest":{
      "type":"structure",
      "required":["findingIdentifiers"],
      "members":{
        "findingIdentifiers":{"shape":"FindingIdentifiers"}
      }
    },
    "BatchGetFindingsResponse":{
      "type":"structure",
      "required":[
        "findings",
        "failedFindings"
      ],
      "members":{
        "findings":{"shape":"Findings"},
        "failedFindings":{"shape":"BatchGetFindingsErrors"}
      }
    },
    "Boolean":{
      "type":"boolean",
      "box":true
    },
    "ClientToken":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[\\S]+"
    },
    "CodeLine":{
      "type":"structure",
      "members":{
        "number":{"shape":"Integer"},
        "content":{"shape":"String"}
      }
    },
    "CodeSnippet":{
      "type":"list",
      "member":{"shape":"CodeLine"}
    },
    "ConflictException":{
      "type":"structure",
      "required":[
        "errorCode",
        "message",
        "resourceId",
        "resourceType"
      ],
      "members":{
        "errorCode":{"shape":"String"},
        "message":{"shape":"String"},
        "resourceId":{"shape":"String"},
        "resourceType":{"shape":"String"}
      },
      "error":{
        "httpStatusCode":409,
        "senderFault":true
      },
      "exception":true
    },
    "CreateScanRequest":{
      "type":"structure",
      "required":["resourceId"],
      "members":{
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        },
        "resourceId":{"shape":"ResourceId"},
        "scanName":{"shape":"ScanName"},
        "scanType":{"shape":"ScanType"},
        "analysisType":{"shape":"AnalysisType"}
      }
    },
    "CreateScanResponse":{
      "type":"structure",
      "required":[
        "scanName",
        "runId",
        "resourceId",
        "scanState"
      ],
      "members":{
        "scanName":{"shape":"ScanName"},
        "runId":{"shape":"Uuid"},
        "resourceId":{"shape":"ResourceId"},
        "scanState":{"shape":"ScanState"}
      }
    },
    "CreateUploadUrlRequest":{
      "type":"structure",
      "required":["scanName"],
      "members":{
        "fileName":{"shape":"NonEmptyString"},
        "scanName":{"shape":"ScanName"}
      }
    },
    "CreateUploadUrlResponse":{
      "type":"structure",
      "required":[
        "s3Url",
        "requestHeaders",
        "codeArtifactId"
      ],
      "members":{
        "s3Url":{"shape":"S3Url"},
        "requestHeaders":{"shape":"RequestHeaderMap"},
        "codeArtifactId":{"shape":"Uuid"}
      }
    },
    "DeleteScansByCategoryRequest":{
      "type":"structure",
      "required":["resourceCategories"],
      "members":{
        "resourceCategories":{"shape":"ResourceCategories"}
      }
    },
    "DeleteScansByCategoryResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DetectorTags":{
      "type":"list",
      "member":{"shape":"String"}
    },
    "Ecr":{
      "type":"structure",
      "required":[
        "repositoryName",
        "imageDigest"
      ],
      "members":{
        "repositoryName":{"shape":"RepositoryName"},
        "imageDigest":{"shape":"EcrImageDigestString"}
      }
    },
    "EcrImageDigestString":{
      "type":"string",
      "pattern":"[Ss][Hh][Aa]256:[0-9a-fA-F]{64}"
    },
    "EcrImageFilter":{
      "type":"structure",
      "required":[
        "repositoryName",
        "imageDigest"
      ],
      "members":{
        "repositoryName":{"shape":"RepositoryName"},
        "imageDigest":{"shape":"EcrImageFilterImageDigestString"}
      }
    },
    "EcrImageFilterImageDigestString":{
      "type":"string",
      "pattern":"[Ss][Hh][Aa]256:[0-9a-fA-F]{64}"
    },
    "EncryptionConfig":{
      "type":"structure",
      "members":{
        "kmsKeyArn":{"shape":"KmsKeyArn"},
        "disable":{"shape":"Boolean"}
      }
    },
    "ErrorCode":{
      "type":"string",
      "enum":[
        "DUPLICATE_IDENTIFIER",
        "ITEM_DOES_NOT_EXIST",
        "INTERNAL_ERROR",
        "INVALID_FINDING_ID",
        "INVALID_SCAN_NAME"
      ]
    },
    "FilePath":{
      "type":"structure",
      "members":{
        "name":{"shape":"String"},
        "path":{"shape":"String"},
        "startLine":{"shape":"Integer"},
        "endLine":{"shape":"Integer"},
        "codeSnippet":{"shape":"CodeSnippet"}
      }
    },
    "Finding":{
      "type":"structure",
      "members":{
        "createdAt":{"shape":"Timestamp"},
        "description":{"shape":"String"},
        "generatorId":{"shape":"String"},
        "id":{"shape":"String"},
        "updatedAt":{"shape":"Timestamp"},
        "type":{"shape":"String"},
        "status":{"shape":"Status"},
        "resource":{"shape":"Resource"},
        "vulnerability":{"shape":"Vulnerability"},
        "severity":{"shape":"Severity"},
        "remediation":{"shape":"Remediation"},
        "title":{"shape":"String"},
        "detectorTags":{"shape":"DetectorTags"},
        "detectorId":{"shape":"String"},
        "detectorName":{"shape":"String"},
        "ruleId":{"shape":"String"}
      }
    },
    "FindingIdentifier":{
      "type":"structure",
      "required":[
        "scanName",
        "findingId"
      ],
      "members":{
        "scanName":{"shape":"String"},
        "findingId":{"shape":"String"}
      }
    },
    "FindingIdentifiers":{
      "type":"list",
      "member":{"shape":"FindingIdentifier"},
      "max":25,
      "min":1
    },
    "Findings":{
      "type":"list",
      "member":{"shape":"Finding"}
    },
    "FindingsFilter":{
      "type":"structure",
      "members":{
        "resourceFilter":{"shape":"ResourceFilter"}
      }
    },
    "GetAccountConfigurationRequest":{
      "type":"structure",
      "members":{
      }
    },
    "GetAccountConfigurationResponse":{
      "type":"structure",
      "required":["kmsKeyArn"],
      "members":{
        "kmsKeyArn":{"shape":"KmsKeyArn"}
      }
    },
    "GetFindingRequest":{
      "type":"structure",
      "required":[
        "scanName",
        "findingId"
      ],
      "members":{
        "scanName":{
          "shape":"ScanName",
          "location":"uri",
          "locationName":"scanName"
        },
        "findingId":{
          "shape":"String",
          "location":"uri",
          "locationName":"findingId"
        }
      }
    },
    "GetFindingResponse":{
      "type":"structure",
      "members":{
        "finding":{"shape":"Finding"}
      }
    },
    "GetFindingsRequest":{
      "type":"structure",
      "required":["scanName"],
      "members":{
        "scanName":{
          "shape":"ScanName",
          "location":"uri",
          "locationName":"scanName"
        },
        "nextToken":{
          "shape":"NextToken",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "maxResults":{
          "shape":"GetFindingsRequestMaxResultsInteger",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "status":{
          "shape":"Status",
          "location":"querystring",
          "locationName":"status"
        }
      }
    },
    "GetFindingsRequestMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "GetFindingsResponse":{
      "type":"structure",
      "members":{
        "findings":{"shape":"Findings"},
        "nextToken":{"shape":"NextToken"}
      }
    },
    "GetScanRequest":{
      "type":"structure",
      "required":["scanName"],
      "members":{
        "scanName":{
          "shape":"ScanNameGreedy",
          "location":"uri",
          "locationName":"scanName"
        },
        "runId":{
          "shape":"Uuid",
          "location":"querystring",
          "locationName":"runId"
        }
      }
    },
    "GetScanResponse":{
      "type":"structure",
      "required":[
        "scanName",
        "runId",
        "scanState",
        "createdAt"
      ],
      "members":{
        "scanName":{"shape":"ScanName"},
        "runId":{"shape":"Uuid"},
        "scanState":{"shape":"ScanState"},
        "createdAt":{"shape":"Timestamp"},
        "updatedAt":{"shape":"Timestamp"},
        "numberOfRevisions":{"shape":"Long"}
      }
    },
    "HeaderKey":{
      "type":"string",
      "min":1
    },
    "HeaderValue":{
      "type":"string",
      "min":1
    },
    "Integer":{
      "type":"integer",
      "box":true
    },
    "InternalServerException":{
      "type":"structure",
      "members":{
        "error":{"shape":"String"},
        "message":{"shape":"String"}
      },
      "error":{"httpStatusCode":500},
      "exception":true,
      "fault":true,
      "retryable":{"throttling":false}
    },
    "KmsKeyArn":{
      "type":"string",
      "max":2048,
      "min":1,
      "pattern":"arn:aws:kms:[\\S]+:[\\d]{12}:key\\/(([a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12})|(mrk-[0-9a-zA-Z]{32}))"
    },
    "LambdaFilter":{
      "type":"structure",
      "required":["functionName"],
      "members":{
        "functionName":{"shape":"LambdaFilterFunctionNameString"}
      }
    },
    "LambdaFilterFunctionNameString":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[a-zA-Z0-9-_\\.]+"
    },
    "LambdaFunction":{
      "type":"structure",
      "required":[
        "functionName",
        "codeSha256"
      ],
      "members":{
        "functionName":{"shape":"LambdaFunctionFunctionNameString"},
        "codeSha256":{"shape":"LambdaFunctionCodeSha256String"}
      }
    },
    "LambdaFunctionCodeSha256String":{
      "type":"string",
      "max":64,
      "min":1
    },
    "LambdaFunctionFunctionNameString":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[a-zA-Z0-9-_\\.]+"
    },
    "ListFindingsRequest":{
      "type":"structure",
      "members":{
        "nextToken":{"shape":"NextToken"},
        "maxResults":{"shape":"ListFindingsRequestMaxResultsInteger"},
        "filter":{"shape":"FindingsFilter"},
        "scanName":{"shape":"ScanName"},
        "status":{"shape":"Status"}
      }
    },
    "ListFindingsRequestMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "ListFindingsResponse":{
      "type":"structure",
      "members":{
        "findings":{"shape":"Findings"},
        "nextToken":{"shape":"NextToken"}
      }
    },
    "ListScansRequest":{
      "type":"structure",
      "members":{
        "nextToken":{
          "shape":"NextToken",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "maxResults":{
          "shape":"ListScansRequestMaxResultsInteger",
          "location":"querystring",
          "locationName":"maxResults"
        }
      }
    },
    "ListScansRequestMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "ListScansResponse":{
      "type":"structure",
      "members":{
        "summaries":{"shape":"ScanSummaries"},
        "nextToken":{"shape":"NextToken"}
      }
    },
    "Long":{
      "type":"long",
      "box":true
    },
    "NextToken":{
      "type":"string",
      "max":2048,
      "min":1,
      "pattern":"[\\S]+"
    },
    "NonEmptyString":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"[\\S]+"
    },
    "Recommendation":{
      "type":"structure",
      "members":{
        "text":{"shape":"String"},
        "url":{"shape":"String"}
      }
    },
    "ReferenceUrls":{
      "type":"list",
      "member":{"shape":"String"}
    },
    "RelatedVulnerabilities":{
      "type":"list",
      "member":{"shape":"String"}
    },
    "Remediation":{
      "type":"structure",
      "members":{
        "recommendation":{"shape":"Recommendation"}
      }
    },
    "RepositoryName":{
      "type":"string",
      "max":256,
      "min":2,
      "pattern":"(?:[a-z0-9]+(?:[._-][a-z0-9]+)*/)*[a-z0-9]+(?:[._-][a-z0-9]+)*"
    },
    "RequestHeaderMap":{
      "type":"map",
      "key":{"shape":"HeaderKey"},
      "value":{"shape":"HeaderValue"},
      "sensitive":true
    },
    "Resource":{
      "type":"structure",
      "members":{
        "id":{"shape":"String"},
        "subResourceId":{"shape":"String"}
      }
    },
    "ResourceCategories":{
      "type":"list",
      "member":{"shape":"ResourceCategory"},
      "max":2,
      "min":1
    },
    "ResourceCategory":{
      "type":"string",
      "enum":[
        "ECR",
        "Lambda"
      ]
    },
    "ResourceFilter":{
      "type":"structure",
      "members":{
        "ecrImage":{"shape":"EcrImageFilter"},
        "lambda":{"shape":"LambdaFilter"}
      },
      "union":true
    },
    "ResourceId":{
      "type":"structure",
      "members":{
        "ecr":{"shape":"Ecr"},
        "lambda":{"shape":"LambdaFunction"},
        "codeArtifactId":{"shape":"Uuid"}
      },
      "union":true
    },
    "ResourceNotFoundException":{
      "type":"structure",
      "required":[
        "errorCode",
        "message",
        "resourceId",
        "resourceType"
      ],
      "members":{
        "errorCode":{"shape":"String"},
        "message":{"shape":"String"},
        "resourceId":{"shape":"String"},
        "resourceType":{"shape":"String"}
      },
      "error":{
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true
    },
    "S3Url":{
      "type":"string",
      "min":1,
      "sensitive":true
    },
    "ScanName":{
      "type":"string",
      "max":140,
      "min":1,
      "pattern":"[a-zA-Z0-9-_$:.]*"
    },
    "ScanNameGreedy":{
      "type":"string",
      "max":181,
      "min":1,
      "pattern":"[a-zA-Z0-9-_$:.]*(/([a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}))?"
    },
    "ScanState":{
      "type":"string",
      "enum":[
        "InProgress",
        "Successful",
        "Failed"
      ]
    },
    "ScanSummaries":{
      "type":"list",
      "member":{"shape":"ScanSummary"}
    },
    "ScanSummary":{
      "type":"structure",
      "required":[
        "resourceId",
        "scanState",
        "createdAt",
        "updatedAt",
        "scanName",
        "runId"
      ],
      "members":{
        "resourceId":{"shape":"ResourceId"},
        "scanState":{"shape":"ScanState"},
        "createdAt":{"shape":"Timestamp"},
        "updatedAt":{"shape":"Timestamp"},
        "scanName":{"shape":"ScanName"},
        "runId":{"shape":"Uuid"}
      }
    },
    "ScanType":{
      "type":"string",
      "enum":[
        "Standard",
        "Express"
      ]
    },
    "Severity":{
      "type":"string",
      "enum":[
        "Critical",
        "High",
        "Medium",
        "Low",
        "Info"
      ]
    },
    "Status":{
      "type":"string",
      "enum":[
        "Closed",
        "Open",
        "All"
      ]
    },
    "String":{"type":"string"},
    "ThrottlingException":{
      "type":"structure",
      "required":[
        "errorCode",
        "message"
      ],
      "members":{
        "errorCode":{"shape":"String"},
        "message":{"shape":"String"},
        "serviceCode":{"shape":"String"},
        "quotaCode":{"shape":"String"}
      },
      "error":{
        "httpStatusCode":429,
        "senderFault":true
      },
      "exception":true,
      "retryable":{"throttling":true}
    },
    "Timestamp":{"type":"timestamp"},
    "UpdateAccountConfigurationRequest":{
      "type":"structure",
      "required":["encryptionConfig"],
      "members":{
        "encryptionConfig":{"shape":"EncryptionConfig"}
      }
    },
    "UpdateAccountConfigurationResponse":{
      "type":"structure",
      "required":["encryptionConfig"],
      "members":{
        "encryptionConfig":{"shape":"EncryptionConfig"}
      }
    },
    "Uuid":{
      "type":"string",
      "pattern":"[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}"
    },
    "ValidationException":{
      "type":"structure",
      "required":[
        "errorCode",
        "message",
        "reason"
      ],
      "members":{
        "errorCode":{"shape":"String"},
        "message":{"shape":"String"},
        "reason":{"shape":"ValidationExceptionReason"},
        "fieldList":{"shape":"ValidationExceptionFieldList"}
      },
      "error":{
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "ValidationExceptionField":{
      "type":"structure",
      "required":[
        "name",
        "message"
      ],
      "members":{
        "name":{"shape":"String"},
        "message":{"shape":"String"}
      }
    },
    "ValidationExceptionFieldList":{
      "type":"list",
      "member":{"shape":"ValidationExceptionField"}
    },
    "ValidationExceptionReason":{
      "type":"string",
      "enum":[
        "unknownOperation",
        "cannotParse",
        "fieldValidationFailed",
        "other",
        "lambdaCodeShaMisMatch"
      ]
    },
    "Vulnerability":{
      "type":"structure",
      "members":{
        "referenceUrls":{"shape":"ReferenceUrls"},
        "relatedVulnerabilities":{"shape":"RelatedVulnerabilities"},
        "id":{"shape":"String"},
        "filePath":{"shape":"FilePath"},
        "itemCount":{"shape":"Integer"},
        "severity":{"shape":"Severity"}
      }
    }
  }
}
